@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

button, textarea, input {
    background-color: inherit;
    outline: none;
    border: none;
    overflow: auto;
    box-shadow: none;
    font-family: inherit;
    resize: none;
}

/* Default styles */
/* Default styles */
html,
body {
    font-size: 62.5%;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-family: 300;
    font-size: 1.4rem;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 970px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* libs */
/* swiper.js https://swiperjs.com/get-started */
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    bottom: 70px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
}

@media screen and (max-width: 767px) {
    .swiper-pagination-bullet {
        width: 25px;
        height: 25px;
    }
}

/* Blocks */
.btn {
    border: 1px solid #00e0d0;
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #00e0d0;
    padding: 0.7em 0.9em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    color: #ffffff;
}

.btn:hover::before {
    transform: scale(1);
}

.btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00e0d0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.title {
    font-family: "Playfair Display";
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.subtitle {
    opacity: 0.74;
    font-family: "Playfair Display";
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.075em;
    color: #2f2d35;
    position: relative;
}

.subtitle::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    opacity: 0.3;
    background-color: #413d4b;
}

.logo {
    background-image: linear-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
    background-image: conic-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.header {
    background-image: linear-gradient(rgba(10, 5, 46, 0.85), rgba(30, 17, 71, 0.85)), url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header__inner {
    padding-top: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    align-items: center;
}

.header__top.scroll {
    position: fixed;
    background-color: #2d254d;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 30px;
    z-index: 15;
}

.header__top.scroll::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d254d;
    z-index: 16;
    box-shadow: 0 0 38px 0 #2d254d;
}

.header__logo {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    z-index: 17;
}

.header__logo-img {
    margin-right: 10px;
}

.header__logo-text {
    background-image: linear-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
    background-image: conic-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 100;
    color: #ffffff;
}

.header__main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.header__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 0.01em;
    color: #ffffff;
    position: relative;
    margin-bottom: 5rem;
}

.header__title::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    transform: translate(-50%, 0);
}

.header__text {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 6.5rem;
}

.menu__body {
    display: flex;
    position: relative;
    z-index: 17;
}

@media screen and (max-width: 876px) {
    .menu__body {
        position: fixed;
        z-index: 11;
        background-color: black;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        padding-top: 120px;
        transition: left .3s linear;
    }

    .menu__body.active {
        left: 0;
    }
}

.menu__body li {
    margin-right: 25px;
    cursor: pointer;
}

.menu__body li:last-child {
    margin: 0;
}

@media screen and (max-width: 876px) {
    .menu__body li {
        margin: 0 0 10px 0;
    }
}

.menu__link {
    transition: color 0.3s linear;
}

.menu__link:hover {
    color: #00e0d0;
}

.menu__link.active {
    color: #00e0d0;
}

@media screen and (max-width: 876px) {
    .menu__link {
        font-size: 2.4em;
    }
}

.menu__icon {
    display: none;
}

@media screen and (max-width: 876px) {
    .menu__icon {
        display: block;
        z-index: 17;
        position: relative;
        right: 0;
        top: 0;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span, .menu__icon::after, .menu__icon::before {
        position: absolute;
        right: 0;
        height: 10%;
        width: 100%;
        background-color: white;
        transition: all 0.3s linear;
    }

    .menu__icon::after, .menu__icon::before {
        content: "";
    }

    .menu__icon::after {
        top: 0;
    }

    .menu__icon::before {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: translateY(-50%);
    }

    .menu__icon.active span {
        display: none;
    }

    .menu__icon.active::before {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
    }

    .menu__icon.active::after {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }
}

.content {
    flex: 1;
}

.about {
    padding: 70px 0 70px 65px;
}

@media screen and (max-width: 876px) {
    .about {
        padding: 70px 0;
    }
}

.about__inner {
    display: flex;
    gap: 100px;
}

@media screen and (max-width: 876px) {
    .about__inner {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

.about__img img {
    max-width: 235px;
}

@media screen and (max-width: 876px) {
    .about__info {
        text-align: center;
    }
}

.about__title {
    margin-bottom: 2.8rem;
}

.about__text {
    opacity: 0.74;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    color: #413d4b;
    margin-bottom: 4.5rem;
}

.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    background-image: linear-gradient(rgba(10, 5, 46, 0.85), rgba(30, 17, 71, 0.85)), url("../img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 202px 0;
}

.watch__recktange {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: relative;
    cursor: pointer;
}

.watch__img {
    display: block;
    width: 37px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    -webkit-mask-image: url("../img/play.svg");
    mask-image: url("../img/play.svg");
}

.watch__text {
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #fff;
}

.expertise {
    padding-top: 70px;
}

.expertise__inner {
    text-align: center;
}

.expertise__title {
    margin-bottom: 15px;
}

.expertise__subtitle {
    margin-bottom: 104px;
}

.expertise__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3.3rem;
}

.expertise__column {
    display: flex;
    flex: 0 1 33.333%;
    padding: 0 3.3rem;
    margin-bottom: 79px;
}

@media screen and (max-width: 727px) {
    .expertise__column {
        flex: 0 1 50%;
        margin-bottom: 59px;
    }
}

@media screen and (max-width: 537px) {
    .expertise__column {
        flex: 0 1 100%;
        margin-bottom: 39px;
    }
}

.expertise__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise__img {
    margin-bottom: 35px;
}

.expertise__item-title {
    margin-bottom: 25px;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #413d4b;
    flex: 1;
}

.expertise__item-text {
    opacity: 0.74;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #333333;
}

.team {
    background-image: linear-gradient(rgba(10, 5, 46, 0.85), rgba(30, 17, 71, 0.85)), url("../img/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 80px;
}

.team__inner {
    text-align: center;
}

.team__title {
    color: #fff;
}

.team__subtitle {
    color: #fff;
    margin-bottom: 67px;
}

.team__subtitle::before {
    background-color: #fff;
}

.team__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 70px;
}

@media screen and (max-width: 783px) {
    .team__row {
        row-gap: 20px;
    }
}

.team__column {
    flex: 0 1 25%;
    color: white;
    padding: 0 10px;
}

@media screen and (max-width: 783px) {
    .team__column {
        flex: 0 1 50%;
    }
}

@media screen and (max-width: 460px) {
    .team__column {
        flex: 0 1 100%;
    }
}

.team__item {
    border: 1px solid rgba(225, 225, 225, 0.43);
    padding-bottom: 25px;
}

.team__img {
    width: 100%;
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 20px;
}

@media screen and (max-width: 460px) {
    .team__img {
        -o-object-position: 0px 35%;
        object-position: 0px 35%;
    }
}

.team__name {
    opacity: 0.87;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.team__prof {
    opacity: 0.61;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fafafa;
}

.team__text {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #f3f3f3;
    margin-bottom: 41px;
}

.works {
    padding: 70px 0 85px;
}

.works__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 537px) {
    .works__top {
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }
}

.works__text {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.works__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 85px;
}

.works__item {
    position: relative;
    padding-bottom: 100%;
}

.works__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.works__bot {
    display: flex;
    justify-content: center;
}

.review {
    background-image: linear-gradient(rgba(10, 5, 46, 0.85), rgba(30, 17, 71, 0.85)), url("../img/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 70px 0;
}

.review__prefix {
    opacity: 0.9;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: center;
}

.review__slider {
    position: relative;
    padding-bottom: 45px;
    overflow: hidden;
}

.review__text {
    opacity: 0.85;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    max-width: 775px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 52px;
}

.review__name {
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 13px;
}

.review__job {
    opacity: 0.7;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 300;
}

.thumb-swiper {
    width: 45px !important;
    height: 45px;
    opacity: 0.4;
    cursor: pointer;
}

.thumb-swiper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    width: 70px !important;
    height: 70px;
}

.mySwiper {
    position: relative;
}

.mySwiper__swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

@media screen and (max-width: 537px) {
    .swiper-button-next,
    .swiper-button-prev {
        top: 75%;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 28px;
}

.info {
    padding: 70px 0;
}

.info__inner {
    display: flex;
    gap: 100px;
}

@media screen and (max-width: 811px) {
    .info__inner {
        flex-direction: column;
        row-gap: 50px;
    }
}

.callback {
    max-width: 460px;
}

@media screen and (max-width: 811px) {
    .callback {
        max-width: 100%;
        text-align: center;
    }
}

.callback__title {
    margin-bottom: 35px;
}

.callback__input, .callback__textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 18px 21px;
    margin-bottom: 20px;
}

.callback__input::-moz-placeholder, .callback__textarea::-moz-placeholder {
    opacity: 0.5;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.callback__input:-ms-input-placeholder, .callback__textarea:-ms-input-placeholder {
    opacity: 0.5;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.callback__input::placeholder, .callback__textarea::placeholder {
    opacity: 0.5;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.callback__textarea {
    min-height: 200px;
    overflow-y: hidden;
}

.callback__btn {
    padding: .7em 2em;
}

.client__title {
    margin-bottom: 30px;
    text-align: center;
}

.client__companys {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

@media screen and (max-width: 811px) {
    .client__companys {
        justify-content: center;
        margin: 0 -10px;
    }
}

.client__item {
    flex: 0 1 50%;
}

@media screen and (max-width: 811px) {
    .client__item {
        justify-content: center;
        display: flex;
        flex: auto;
        padding: 0 10px;
    }
}

.footer {
    margin-top: auto;
    background-image: linear-gradient(rgba(10, 5, 46, 0.85), rgba(30, 17, 71, 0.85)), url("../img/bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 0;
    color: #fff;
}

.footer__top {
    display: flex;
    gap: 35px;
    margin-bottom: 7rem;
}

@media screen and (max-width: 727px) {
    .footer__top {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.footer__col {
    flex: 0 1 33.333%;
}

@media screen and (max-width: 727px) {
    .footer__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 100%;
    }
}

@media screen and (max-width: 727px) {
    .footer__col:nth-child(2) {
        align-items: flex-start;
    }
}

.footer__logo {
    margin-bottom: 3.5rem;
    z-index: 1;
}

@media screen and (max-width: 727px) {
    .footer__logo {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 727px) {
    .footer__text {
        text-align: center;
    }
}

.footer__title {
    padding-top: 2rem;
    margin-bottom: 4.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 727px) {
    .footer__title {
        margin-bottom: 2.2rem;
        text-align: center;
        width: 100%;
    }
}

.footer__adress {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

.footer__phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__form {
    display: flex;
    gap: 10px;
    margin-bottom: 2.7rem;
}

.footer__input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1.6rem;
}

.footer__input::-moz-placeholder {
    opacity: 0.74;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.footer__input:-ms-input-placeholder {
    opacity: 0.74;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.footer__input::placeholder {
    opacity: 0.74;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.footer__btn {
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    padding: 0.7em 2.3rem;
}

.footer__icons {
    display: flex;
    gap: 8px;
}

.footer__social {
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 727px) {
    .footer__bot {
        flex-direction: column;
        gap: 10px;
    }
}

.footer__list {
    display: flex;
    gap: 30px;
}

.footer__link {
    font-size: 1.4rem;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.footer__copyright {
    font-size: 1.4rem;
    letter-spacing: 0.025em;
    color: #ffffff;
}
